@page
@model AulaEducativa.App.Presentacion.Pages.Actividades.IndexModel
@{
    Layout = "_PartialLayoutusuarios";
    ViewData["Title"] = "Actividades";
}

@if (Model.Actividades.Any()) 
{
    <h3 style="margin-bottom: 15px;">@ViewData["Title"]</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Materia
                </th>
                <th>
                    Nombre actividad
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actividades.ElementAt(0).FechaLimite)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Actividades)
            {
                <tr class="row-cols-auto">
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.Materia.Nombre)
                    </td>
                    <td class="col-md-4">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.FechaLimite)
                    </td>
                    <td class="col-md-2">
                        <a asp-page="./Detalle" asp-route-id="@item.Id">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 style="margin-bottom: 15px;">Aún no hay actividades por presentar</h3>
}