@page
@model AulaEducativa.App.Presentacion.Pages.Instituciones.IndexModel
@{
    ViewData["Title"] = "Instituciones";
}

<h3 style="margin-bottom: 15px;">@ViewData["Title"]</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instituciones.ElementAt(0).Nombre)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instituciones)
        {
            <tr class="row-cols-auto">
                <td class="col-md-10">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="col-md-2">
                    <a asp-page="./Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Eliminar" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary">
    <a asp-page="Agregar" style="color: white; text-decoration: none; width: 100%; height: 100%;">Crear nueva</a>
</button>
